<!--Admin list view-->
@model IEnumerable<PizzaRestaurant.Domain.Entities.Product>



@{
    ViewBag.Title = "Administration: all products";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <div class="panel panel-default">
        <!--The "panel-heading" class adds a header to the panel-->
        <div class="panel-heading">
            <h3>All products</h3>
        </div>
        <!--Body-->
        <div class="panel-body">
            <!--"table-striped" is used to add zebra stripes to any table row in <tbody>-->
            <!--".table-bordered" is used for borders on all sides of the table and cells-->
            <table class="table table-striped table-condensed table-bordered">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th class="NumericCol">Price</th>
                    <th>Actions</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ProductID</td>
                        <td>@Html.ActionLink(item.Name, "Edit", new { item.ProductID })</td>
                        <td class="NumericCol">@item.Price.ToString("c")</td>
                        <td>
                            @using (Html.BeginForm("Delete", "Admin"))
                            {
                                @Html.Hidden("ProductID", item.ProductID)
                                <!--<Input type = "Submit"> defines a submit button that sends all form values to the form handler.
                                    The forms handler is usually a server page with a script for processing input data.
                                    The form handling procedure is specified in the form action attribute.-->
                                <input type="submit" value="Delete" />
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
        <!--The "panel-footer" class adds a footer to the panel-->
        <div class="panel-footer">
            @Html.ActionLink("Add a new product", "Create", null,
            new { @class = "btn btn-default" })
        </div>
    </div>